<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="row">
	  	<div class="form-group">
	    	<%= f.label :name %><br>
	    	<%= f.text_field :name, class:"form-control" %>
	  	</div>
	</div>

	<div class="row">
	  <div class="form-group">
	    <%= f.label :price %><br>
	    <%= f.text_field :price, class:"form-control" %>
	  </div>
	</div>

	<div class="row">
	  <div class="form-group">
	    <%= f.label :images, 'Thumb nail images' %><br>
	    <%= f.text_field :images, class:"form-control" %>
	  </div>	
	</div>
	
	<div class="row">
	  <div class="form-group">
	    <%= f.label :description, 'Description' %><br>
	    <%= f.text_field :description, class:"form-control" %>
	  </div>	
	</div>

  
  <div class="row">
	  <div class="form-group">
	  	<%= f.fields_for  :product_detail, @product_detail do |detail| %>
	  		<div class="form-group">
	  			<%= detail.label :images%>
	  			<%= detail.text_field :images , class:"form-control"%>
	  		</div>
	  		<div class="form-group">
	  			<%= detail.label :description %>
	  			<%= detail.text_area :description  , class:"cktexteditor form-control"%>
	  		</div>
	  	<% end %>
	  </div>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
