<div class="container">
	<p id="notice">
		<%= notice %>
	</p>
	<div class="container">

		<div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
			<div style="text-align: center;">
				<%= image_tag @product.product_detail.images, class: "img-responsive", style:"margin:auto;" %>
				<hr />
				<div class="row">
					<%= raw @product.product_detail.description %>
				</div>
			</div>

		</div>
		<div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">

			<div id="product-form">
				<div class="pre-scrollable">
					<div class="info">
						<h4><%= @product.name %></h4>
						<p>
							<%= @product.description %>
						</p>
						<h4>$ <%= @product.price %></h4>
						<% @product.tags.each do |tag| %>
							<p class="tag"><%= tag.name %></p>
						<% end %>
					</div>
					<hr/>
					<div class="select-form">
						<div class="color-form">
							<p>
								COLOR
							</p>
						</div>
						<div class="size-form">
							<p>
								SIZE
							</p>
						</div>
						<div class="quantity-form">
							<p>
								QUANTITY
							</p>

							<div class="qty-changer">
								<button class="qty-change quantity-left-minus">
									-
								</button>
								<input id="quantity-input" class="qty-input form-group" type="number" value="1"/>
								<button class="qty-change quantity-right-plus">
									+
								</button>
							</div>

						</div>
					</div>
					<a class="btn btn-default btn-block">ADD TO BAG</a>
					<hr />
					<div class="forum">

						<ul class="nav nav-tabs">
							<li class="active">
								<a data-toggle="tab" href="#home">Home</a>
							</li>
							<li>
								<a data-toggle="tab" href="#menu1">Comment</a>
							</li>
							<li>
								<a data-toggle="tab" href="#menu2">Review</a>
							</li>
							<li>
								<a data-toggle="tab" href="#menu3">Contact</a>
							</li>
						</ul>

						<div class="tab-content">
							<div id="home" class="tab-pane fade in active">
								<h3>HOME</h3>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								</p>
							</div>
							<div id="menu1" class="tab-pane fade">
								<h3>Comment</h3>
								<%= render partial: 'comments/index', locals: {comments: @comments, id: 0} %>
							</div>
							<div id="menu2" class="tab-pane fade">
								<h3>Menu 2</h3>
								<p>
									Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
								</p>
							</div>
							<div id="menu3" class="tab-pane fade">
								<h3>Menu 3</h3>
								<p>
									Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
								</p>
							</div>
						</div>

						<div class="review">

						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<hr />

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
</div>
<script>
	$('img').each(function() {
		$(this).addClass('img-responsive');
	})
</script>